.button-top-saqw .scroll-top {
    z-index: 100;
    position: fixed;
    cursor: pointer;
    background-color: rgb(199, 161, 122);
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    border-radius: 10px;
    height: 40px;
    font-size: 24px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  .button-top-saqw .scroll-top:hover {
    background-color: #333;
  }
  .button-top-saqw .scroll-top.show {
    opacity: 1;
  }
  .button-top-saqw .scroll-top img {
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1);
  }
  