.picture-section-sshs {
    width: 100%;
    height: 100%;
  }
  .picture-section-sshs .picture-section-all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .picture-section-sshs .picture-section-all .picture-section-image {
    width: 20%;
    height: auto;
    overflow: hidden;
  }
  @media (max-width: 991.98px) {
    .picture-section-sshs .picture-section-all .picture-section-image {
      width: 33.3333%;
    }
  }
  @media (max-width: 767.98px) {
    .picture-section-sshs .picture-section-all .picture-section-image {
      width: 50%;
    }
  }
  .picture-section-sshs .picture-section-all .picture-section-image img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  .picture-section-sshs .picture-section-all .picture-section-image img:hover {
    transform: scale(1.2);
  }
  